<h1>New User</h1>

<form action="/create_user">
  <div>
    <label for="user_name">user_name</label><br />
    <input id="user_name" name="user_name" type="text" />
  </div>
  <div>
    <label for="user_email">user_email</label><br />
    <input id="user_email" name="user_email" type="text" />
  </div>
  <div>
    <label for="user_image">user_image</label><br />
    <input id="user_image" name="user_image" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>

