<h1>New User Profile</h1>

<form action="/create_user_profile">
  <div>
    <label for="user_class">user_class</label><br />
    <input id="user_class" name="user_class" type="text" />
  </div>
  <div>
    <label for="enrollment_year">enrollment_year</label><br />
    <input id="enrollment_year" name="enrollment_year" type="text" />
  </div>
  <div>
    <label for="user_major">user_major</label><br />
    <input id="user_major" name="user_major" type="text" />
  </div>
  <div>
    <label for="user_id">user_id</label><br />
    <input id="user_id" name="user_id" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>

