<h1>New Post</h1>

<form action="/create_post">
  <div>
    <label for="content">content</label><br />
    <input id="content" name="content" type="text" />
  </div>
  <div>
    <label for="user_id">user_id</label><br />
    <input id="user_id" name="user_id" type="text" />
  </div>
  <div>
    <label for="category_id">category_id</label><br />
    <input id="category_id" name="category_id" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>

