<h1>New Category</h1>

<form action="/create_category">
  <div>
    <label for="category">category</label><br />
    <input id="category" name="category" type="text" />
  </div>
   <div>
    <label for="image_url">image url</label><br />
    <input id="image_url" name="image_url" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>

